{
  "presets":[
      "@babel/preset-env",
      [
          "@babel/preset-react", {
              "runtime": "automatic"
              // permet de ne pas devoir importer react dans chaque component //
          }
      ]
  ]
}